* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 375px;
    text-align: center;
    .testimonials {
        display: none;
        &.active {
            display: block;
        }
        .big-device-right {
            .picture {
                position: relative;
                padding: 50px 50px 0px 50px;
                background: {
                    image: url(../images/pattern-bg.svg);
                    repeat: no-repeat;
                    size: 90%;
                    position: center;
                }
                > img {
                    box-shadow: 10px 35px 30px -5px rgba(0, 0, 0, 0.2)
                }
                .slider {
                    position: relative;
                    display: inline-block;
                    background: #fff;
                    border-radius: 19px;
                    bottom: 0;
                    transform: translateY(-50%);
                    > a {
                        padding: 0 10px;
                    }
                }
            }
        }
        .big-device-left {
            .info {
                font-size: 17px;
                line-height: 1.3;
                .idea {
                    padding: 30px;
                    font-weight: 300;
                    background: {
                        image: url(../images/pattern-quotes.svg);
                        repeat: no-repeat;
                        size: 15%;
                        position: center top;
                    }
                }
                .name {
                    color: hsl(240, 38%, 20%);
                }
                .title {
                    color: hsl(240, 18%, 77%);
                }
            }
        }
    }
}

.attribution {
    height: 50px;
    line-height: 50px;
    > a {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {

    .container {
        max-width: 1440px;
        .testimonials {
            .big-device-right {
                width: 55%;
                float: right;
                .picture {
                    padding: 120px 140px 80px 100px;
                    .slider {
                        left: -150px;
                    }
                }
            }
            .big-device-left {
                width: 45%;
                float: left;
                height: 788px;
                position: relative;
                .info {
                    text-align: left;
                    font-size: 32px;
                    width: 100%;
                    position: absolute;
                    left: 190px;
                    top: 250px;
                    .idea {
                        padding: 0;
                        padding-top: 40px;
                        padding-bottom: 20px;
                        background: {
                            position: 90px 0;
                        }
                    }
                    .name {
                        display: inline-block;
                        font-size: 17px;
                        font-weight: 700;
                    }
                    .title {
                        display: inline-block;
                        font-size: 17px;
                    }
                }
                .wave {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

}